<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>wc-2 demo</title>

    <script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <!--
    <script type="module">
      import '@polymer/iron-demo-helpers/demo-pages-shared-styles';
      import '@polymer/iron-demo-helpers/demo-snippet';
    </script>
  -->

    <script type="module" src="../wc-2.js"></script>
  </head>
  <body>
    <h3>Basic wc-2 demo</h3>
    <wc-2></wc-2>
    <wc-2 prop2="My Value"></wc-2>
    <wc-2 prop2="My Value for wc-2" prop1="My Value for wc-1"></wc-2>
  </body>
</html>
